@page
@model SportsStore.Pages.CartModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <h4>Razor Page</h4>
</body>
</html>
